@use '../variables' as v;

nav {
    display: flex;
    align-items: center;
    max-width: v.$max-content-width;
    margin: 0 auto;
    padding: 1rem;
}

.logo {
    height: 5, 25rem;
    width: 5.25rem;
    border-radius: 1rem;
}

body {
    display:flex;
    flex-direction: column;
    max-width: v.$max-content-width;
    justify-content: center;
    margin: 0 auto;
    gap: v.$spacing-md

}

.main-navigation {
    gap: 4rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-grow: 1;
    font-size: v.$h5-font-size;
    font-weight: 500;

    a {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        box-shadow: none;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: v.$primary-color;
            color: v.$text-color;
        }
    }
}

.nav-link-active {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: v.$primary-color;
    color: v.$text-color;
}

.footer-container{
    display:flex;
    flex-direction: row;
    gap: v.$spacing-md;
}

.footer-links{
    display:flex;
    flex-direction: row;
    flex-grow:1;
    gap: v.$spacing-md;
    align-items: center;
    justify-content: left;
}

.footer-socials{
    display:flex;
    flex-direction: row;
    gap: v.$spacing-md;
    align-items:center;
    justify-content: center;
}

.footer-link{
    color: v.$primary-color-dark;
    text-decoration: underline;
}


@media  screen and (max-width: v.$small-screen) {
    .footer-container{        
        flex-direction: column;
    }
    .footer-links{
        flex-direction: column;

    }
}