@use '../variables' as v;

.review-container {
    padding: 0 v.$spacing-md;
    flex-grow: 1;
    gap: 1rem;
    height: 15rem;
    width: 10rem;
    background-color: v.$primary-color-light;
}

.cake-icon {
    width: 2rem;
    height: 2rem;
    fill: white;
    margin-top: v.$spacing-sm;
}

.cake-icon-filled {
    width: 2rem;
    height: 2rem;
    fill: v.$secondary-color;
    margin-top: v.$spacing-sm;
}